/**CUSTOM PROPERTIES**/
:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(206, 165, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10 pixels*/
}

*, *:before, *:after {
    box-sizing: inherit;
}


/**GLOBALES**/
body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;/*No se pone unidad de medida porque va acorde al tamaño de la fuente utilizada*/
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor { /*Este selector contendrá la zona de las imagenes*/
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}


/**HEADER**/    
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}


/**NAVEGACIÓN**/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /*gap: 2rem; /*La propiedad gap hace que se separen los elementos que contiene esta etiqueta (es el sustituvo a poner en los elementos que quremos separar un margin entre ellos)*/
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;/*Va a sustituir al gap del selector .navegacion porque safari no lo soporta*/
}

.navegacion__enlace:last-of-type { /*Este selector selecciona el ultimo elemento y le permite dar estilos en concreto a ese para no modificar los que comparten clase*/
    margin-right: 0;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--secundario)
}


/**FOOTER**/
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}

/**GRID**/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);/*esto hace que se dividan en dos columnas en la página(2 columnar y cada una ocupe 1 fraccion*//*Vista para moviles,etc...*/
    gap: 2rem;
}
 @media (min-width: 768px) {
     .grid {
        grid-template-columns: repeat(3, 1fr);/*Esta es la vista de escritorio*/
     }
 }


/**PRODUCTOS**/
.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/**GRAFICOS**/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;/*Se utiliza esta propiedad porque se repetian las imagenes de las clases(.gráfico y .grafico--camisas)*/
    background-size: cover;/*se utiliza esta propiedad para que la imagen ocupe toda el área donde está y no se quede mas pequeña*/
    grid-column: 1 / 3;
}

.grafico--camisas {
    grid-row: 2 / 3;
    /*grid-column: 1 / 3;*/ /*desabilito esta propiedad de aquí porque la clase padre la tiene ya que las dos clases inferiores la comparten, entonces solo con escribirla en la padre ya funciona*/
    background-image:  url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    /*grid-column: 1 / 3;*/
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}


/**NOSOTROS IMAGEN**/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen {
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
    }
}


/**ICONOS NOSOTROS**/
.bloques {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__titulo {
    margin: 0;
}

/**PÁGINA DEL PRODUCTO**/
@media (min-width: 768px) {
    .camisa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formulario__campo{
    display: grid;
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;/*coge el color del fondo sobre el que esté el campo*/
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    width: 100%;
    /*appearance: none;/*esta propiedad le quita la flecha de seleccion a la casilla de las tallas*/
}

.formulario__campo--color {
    color: var(--negro);
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease; /*la propiedad transition hace que haya una transicion, el valor background-color indica que elemento hará la transición, .3s indica el tiempo que tardará en hacerse y ease es el efecto que se utilizará para hacer la transición(en este caso hace la transición del hover)*/
    grid-column: 1 / 3;
}

.formulario__submit:hover {
    cursor: pointer; /*es para que salga la mano encima del boton*/
    background-color: var(--secundarioOscuro);
}

/*::placeholder {
    color: var(--blanco);
}*/ 