$fuentePrincipal: 'Arial'; //custom properties en SASS (en css era lo que se llamabgulpa root:)

body {
    font-family: $fuentePrincipal;
}

h1 {
    font-family: $fuentePrincipal;
}

p {
    font-family: $fuentePrincipal;
}