html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 2rem;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


/** CODIGO AQUI **/
@media (min-width: 768px) {
    .contenedor-grid {
        display: grid;
        grid-template-areas: "izquierda centro derecha"; /*esta propiedad divide las columnas por nombre, entonces en vez de poner numeros de columna a columna se le aplica un nombre a donde se tiene que situar*/
        grid-template-columns: 20% 60% 20%; /*1fr 3fr 1fr*/
        grid-auto-flow: column; /*esta propiedad sirve para que cuando se posicionen las columnas no se vayan unas debajo de otras y se quede todo en el mismo nivel(para que no haya overflow)*/
        column-gap: 2rem; 
    }

    .contenido-principal {
        grid-area: centro; /*esta propiedad funciona con la propiedad grid-template-areas del contenedor-grid de arriba, esta propiedad indica donde situar el contenido*/
        /*grid-column: 2 / 3;*/
    }

    .sidebar-1 {
        grid-area: izquierda;
        /*grid-column: 1 / 2;*/
    }

}